.bottom-nav-container {
    position: fixed;
    bottom: 0;
    height: 8vh;
    background-color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bottom-nav-bag {
    width: 10vw
}

.bottom-nav-count{
    position: absolute;
    bottom: 35px;
    right: 40px;
    color: white;
    background-color: red;
    padding: 5px 8px;
    border-radius: 50%;
}

@media only screen and (min-width: 600px) {
    .bottom-nav-container{
        width: 50%;   
    }

    .bottom-nav-bag {
        width: 3vw
    }

    .bottom-nav-count{
        bottom: 30px;
        right: 90px;
    }
}
